.about {
  background-color: #ecfffa;
}

.about .grid {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  justify-content: space-evenly;
  max-width: 15in;
}

.about img {
  width: 100%;
  clip-path: circle();
  margin: 10px;
}

.about .text {
  padding-left: 60px;
}
.about .text #name {
  font-size: 50px;
  height: 10px;
}

.about .text #role {
  font-size: 30px;
  color: rgb(75, 74, 74);
}
.about .text #statement {
  font-size: 20px;
}

.about .connect {
  color: rgb(0, 0, 0);
}
.about .connect #title {
  font-size: 30px;
  height: 20px;
  padding: 10px;
}

.about .connect .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 50px;
  padding-right: 50px;
  list-style: none;
}
.about .connect li {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.about .connect .links a {
  color: rgb(0, 0, 0);
  align-items: center;
}

.about .connect .links a .link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about .connect .links a .link p{
  padding-top: 3px;
  padding-left: 4px;
}