.about .row {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.about #profileImage {
  border: solid black;
  border-radius: 50%;
  margin: 10px;
  clip-path: circle();
  width: 300px;
  height: 300px;
}

.about .profileText {
  margin-left: 50px;
}
.about .name {
  display: flex;
  flex-direction: row;
  padding: 0px;
  font-weight: bold;
  font-size: 20px;
  border-bottom: solid black;
}

.about .name #pronouns {
  padding-left: 10px;
  color: grey;
}

.about #statement {
  padding: 10px;
}
