.home header {
  background-color: #006b50;
  border: solid #006b50;
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.home header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  max-width: 15in;
  margin-left: auto;
  margin-right: auto;
}

.home header .button {
  color: white;
  padding: 20px;
  font-size: 25px;
}

.home header .button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

